node_modules
.idea
.nogit
**/npm-debug.log
# Don't leak sensitive information from the config to git
# We create config.example.js To give a sample config with no sensitive information
**/*configDev.js
**/*ConfigDev.js
coverage